@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Off-white: hsl(36, 100%, 99%);
  --Grayishblue: hsl(233, 8%, 79%);
  --Darkgrayishblue: hsl(236, 13%, 42%);
  --Verydarkblue: hsl(240, 100%, 5%);
  --Softorange: hsl(35, 77%, 62%);
  --Softred: hsl(5, 85%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

hr {
  color: var(--Grayishblue);
}

.nav {
  max-width: 110rem;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-center {
  margin: 2rem 0;
}

.nav-items {
  top: 0;
  position: fixed;
  background-color: var(--Off-white);
  right: -100%;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  max-width: 35rem;
  transition: all ease 0.3s;
}

.nav-items a {
  color: var(--Verydarkblue);
  margin-bottom: 3rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.show-links {
  right: 0%;
}

.nav-header button {
  position: absolute;
  top: 25px;
  right: 2rem;
}

@media screen and (min-width: 922px) {
  .nav-header button {
    display: none;
  }

  .close {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items {
    position: static;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
    gap: 3rem;
    padding: 1rem 0;
    font-weight: 700;
  }

  .nav-items a {
    color: var(--Darkgrayishblue);
    margin-bottom: 0;
  }
}

.hero {
  margin: 2rem auto;
  padding: 1rem;
}

.hero img {
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 5rem;
  width: 30rem;
}

.hero-text p {
  line-height: 1.5;
  color: var(--Darkgrayishblue);
  margin-bottom: 2rem;
}

.hero button {
  background-color: var(--Softred);
  color: var(--Off-white);
  padding: 1.4rem 4rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-weight: 700;
}

.card {
  margin: 1rem;
  background-color: var(--Verydarkblue);
  padding: 2rem;
}

.card h2 {
  color: var(--Softorange);
  margin-bottom: 2rem;
  font-size: 3rem;
}

.card h3 {
  color: var(--Off-white);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card p {
  color: var(--Grayishblue);
  margin-bottom: 4rem;
}

.items {
  padding: 1rem;
}

.items img {
  max-width: 10rem;
}

:is(.items-1, .items-2, .items-3) {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.item-number {
  display: block;
  font-size: 3rem;
  color: var(--Grayishblue);
  font-weight: 700;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .main {
    display: grid;
    max-width: 115rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero {
    grid-column: 2 span;
    margin: 0;
  }

  .hero-texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .items {
    margin-top: 5rem;
    grid-column: 3 span;
    display: flex;
    gap: 4rem;
  }

  .overlay {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
